* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Nasalization";
  src: url("../fonts/NasalizationRg.otf");
}

body {
  font-size: 18px;
  font-family: "Nasalization", monospace;
  background-color: #171f32;
}

.background {
  height: 100vh;
  width: 100%;
  background: url("../images/background/space.png");
  background-size: cover;
}


.title {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  color: #d4d6d6fb;
}


.container-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5%;
  height: 5vh;
  color: #d4d6d6fb;
  padding: 20px;
  gap: 10px;
}


#reset {
  font-size: inherit;
  padding: 10px 20px;
  background: rgba(0, 110, 255, 0.1);
  border: none;
  border-radius: 5px;
  color: inherit;
  cursor: pointer;
}

#reset:hover {
  background: rgba(0, 110, 255, 0.2);
}


.container-cards {
  height: 60vh;
  width: 100%;
  padding: 20px;

  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
}


.card {
  height: 192px;
  width: 128px;
  border-radius: 5px;
  cursor: pointer;

  background: url("../images/card-style/card-face-down.png");
  background-size: cover;
}


.card.face-up {
  background: url("../images/card-style/card-face-up.png");
  background-size: cover;
}


.card-contain.hidden {
  display: none;
}

.card-contain {
  width: 100%;
  text-align: center;
}

.image {
  width: 100px;
  margin: 20px 5px;
}

.card-title {
  color: #a6b4b1ee;
  font-size: 0.8em;
}